body {
  background-image: url(/images/background.png);
  background-size: cover;
}

div.send_form {
  position:fixed;
  top: 10%;
  left: 10%;
  padding: 5%;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
