doctype html
html
    head
        block meta
            meta(charset="utf-8")
        title Zasonnik Homepage
        block style
            link(rel="stylesheet", href="/css/style.css")
    body
        H1 Моя домашняя страничка
